@import "src/app/styles/variables";

$padding: 16px;

.form {
  color: black;
  padding: $padding;

  &.float {
    text-align: center;
    width: calc(50% - #{$padding} * 2);
    max-width: 500px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;

    mat-form-field {
      width: 100%;
    }

    mat-horizontal-stepper {
      background-color: white;
    }
  }
}

@media all and (max-width: 1024px) {
  .form {
    &.float {
      width: calc(95% - #{$padding} * 2);
      transform: translate(-50%, 0);
    }
  }
}
