@import "variables";

.header-statistic-wrapper {
  max-width: 1275px;
  position: relative;
  margin: 0 auto;

  .header-statistic {
    & > div {
      width: 100%;
    }
  }
}

.statistic-chart-wrapper {
  height: 100%;
  padding-top: 15px;

  app-hexagon-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb($dark-background, 0.75);
    top: 0;
    border-radius: 10px;

    ::ng-deep .spinner-wrapper {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }


  .statistic-chart {
    height: 30vh;
    min-height: 300px;
    width: 100%;

    canvas {
      width: 100%;
    }
  }

  .statistic-information {
    padding: 25px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;

    & > div {
      text-align: center;
      padding: 10px;

      & > span {
        color: white;
        display: block;

        &:first-child {
          font-size: 2.5em;
          font-weight: bold;
          margin: 25px;
        }

        &:nth-child(2) {
          color: gray;
        }
      }

      &.report-link-wrapper {
        transform: scale(1.25);
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .statistic-chart-wrapper {
    width: 100%;


    .statistic-chart {
      min-height: 200px;
    }

    .statistic-information {
      font-size: 0.8em;
      padding: 0 0 10px;

      & > div {
        padding: 10px;

        & > span {
          &:first-child {
            font-size: 1.75em;
            margin: 16px;
          }

          &:nth-child(2) {
            color: gray;
          }
        }
      }
    }
  }
}
