.url-with-base {
  font-size: 2.5em;

  & > span {
    &.baseUrl {
      font-size: 0.5em;
      color: lightgray;
      font-style: normal;
      vertical-align: middle;
    }

    &.short {
      color: rgb(41, 118, 196);
      font-weight: bold;
    }
  }
}

@media all and (max-width: 1024px) {
  .url-with-base {
    font-size: 1.75em;

    & > span {
      &.baseUrl {
        font-size: 0.5em;
        color: lightgray;
        font-style: normal;
        vertical-align: middle;
      }

      &.short {
        color: rgb(41, 118, 196);
        font-weight: bold;
      }
    }
  }
}
