mat-card-actions {
  margin: 25px 0 0 0;

  &.double {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) auto;

    &.fill {
      grid-template-columns: 1fr 1fr;
    }

    & > div {
      & > button {
        margin: 0;
        display: block;

        &.left {
          padding: 0;
          text-align: left;
        }
      }
    }
  }
}
