$background: #232222;
$dark-background: #1c1b1b;
$median-background: #534f4f;
$light-background: #c2b8b8;

$blue: #2976C4;

@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

