@import "src/app/styles/variables";

.link-list {
  width: 100%;
  display: grid;
  grid-gap: 35px 35px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .card-block {
    border-radius: 8px;
    background-color: $median-background;
    color: white;
    padding: 15px 25px 25px;
    transition: 0.5s all;
    position: relative;

    &:hover {
      transform: scale(1.1);
      transition: 0.25s all;
    }

    span {
      display: block;
      text-align: center;

      &:first-child {
        font-size: 1.5em;
        font-weight: bolder;
        color: #2976c4;
      }

      &:nth-child(2) {
        font-size: 0.75em;
        margin-top: 15px;
        margin-bottom: 10px;
        color: lightgray;
        font-style: italic;
        line-break: anywhere;
      }

      &.date {
        bottom: 5px;
        right: 5px;
      }

      &.nrOfCalls {
        color: gray;
        font-size: 0.75em;
        font-style: italic;
        position: absolute;
        bottom: 5px;
        left: 5px;
      }
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr minmax(25%, auto);
  width: 95%;
  margin: 0 auto 15px;

  .mat-select {
    align-self: center;
    padding: 5px;

    ::ng-deep .mat-select-value {
      color: white;
    }

    ::ng-deep .mat-select-arrow {
      color: white;
    }
  }

  mat-icon {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    float: right;
    color: white;
    justify-self: right;
    @include md-icon-size(30px);
  }
}

@media all and (max-width: 1024px) {
  .link-list {
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    .card-block {
      padding: 16px;

      span {
        &:first-child {
          font-size: 1.25em;
          font-weight: bolder;
        }

        &:nth-child(2) {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
