<mat-card class="float solo-notification">
  <mat-card-content>
    <img src="assets/img/404.svg" alt="">
    <div>
      <h2>Hmmm ...</h2>
      <p>Sorry - Ich konnte den von dir angeforderten Link nicht finden. Bist du sicher, dass du ihn richtig kopiert
        hast?</p>
    </div>
    <mat-card-actions>
      <button [routerLink]="['/']"
              mat-raised-button>
        <mat-icon>home</mat-icon>
        Zurück
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
