<div class="chart-filter-wrapper">

  <mat-select class="interval-select"
    [(value)]="interval"
              (valueChange)="changedFilter()">
    <mat-option *ngFor="let option of options" [value]="option.value">{{option.text}}</mat-option>
  </mat-select>

  <mat-form-field class="">
    <label for="dateStart">
      <input id="dateStart"
             [(ngModel)]="start"
             (change)="changedFilter()"
             placeholder="Datum"
             type="datetime-local"
             matInput
             required>
    </label>
  </mat-form-field>
  <mat-form-field class="">
    <label for="dateEnd">
      <input id="dateEnd"
             [(ngModel)]="end"
             (change)="changedFilter()"
             placeholder="Datum"
             type="datetime-local"
             matInput
             required>
    </label>
  </mat-form-field>
</div>
