@import "src/app/styles/variables";

.show-filter-button {
  position: absolute;
  background-color: gray;
  right: 0;
  padding: 2px;
  border-radius: 3px;
  z-index: 1;
  color: white;
  transform: translateY(-100%);
}

.chart-filter-wrapper {
  width: 100%;
  max-width: 1275px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin: 0 auto 50px;
  align-items: start;
  grid-gap: 20% 10%;
  font-size: 1.125em;
  overflow: hidden;

  div {
    span {
      display: block;
      color: lightgray;
      margin-bottom: 8px;
      font-size: 0.75em;
      font-weight: 200;
    }

    mat-form-field {
      width: 100%;
    }

    .mat-select {
      align-self: center;

      ::ng-deep .mat-select-value {
        color: white;
      }

      ::ng-deep .mat-select-arrow {
        color: white;
      }
    }

    ::ng-deep .mat-form-field .mat-form-field-label {
      color: lightgray;
    }

    ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
      color: white;
    }

    ::ng-deep .mat-form-field-underline .mat-form-field-ripple {
      background-color: lightgray;
    }

    ::ng-deep .mat-form-field-underline {
      background-color: lightgray;
    }

    ::-webkit-calendar-picker-indicator {
      filter: invert(1);
    }

    .mat-checkbox {
      ::ng-deep .mat-checkbox-frame {
        border-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .progress-spinner-wrapper {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    text-align: center;
    margin-top: 0;
    transform: translateY(-2px);

    span {
      position: absolute;
      display: inline-block;
      z-index: 10;
      margin-bottom: 0;
      left: 1px;
      top: 1px;
    }

    mat-progress-spinner {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

@media all and (max-width: 1024px) {
  .show-filter-button {
    transform: translateY(0);
    opacity: 0.5;
  }

  ::ng-deep #report-dialog {
    width: 95%;
    margin: 0 auto;
  }

  .chart-filter-wrapper {
    position: relative;
    box-shadow: none;
    background-color: $median-background;
    color: white;
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
    padding: 16px 16px 16px;
    margin: 0 auto 25px;
    font-size: 0.9em;
    border-radius: 5px;
    overflow: hidden;

    div {
      &.datetime {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      span {
        margin-bottom: 0;
        font-size: 0.85em;
      }
    }

    .interval-select {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 8px;
    }
  }
}
