<main>
  <div *ngIf="$link | async; let link; else: loading">
    <div class="preview-wrapper">
      <h2 class="title">Vorschau</h2>

      <p>
        Der von Ihnen angeklickte Link leitet sie auf folgende Webiste weiter.
      </p>

      <span class="original">{{ link.original }}</span>

      <p>Sind sie damit einverstanden?</p>

      <div class="actions">
        <button mat-raised-button (click)="redirectToHome()">Zurück</button>
        <button
          mat-raised-button
          color="primary"
          (click)="openLinkInSameTab(link.short)"
        >
          Link Öffnen
        </button>
      </div>

      <app-report-block [short]="link.short"></app-report-block>

      <span class="date"
        >Link erstellt: {{ link.iat | date: "dd.MM.yyy HH:MM:ss" }}</span
      >
    </div>
  </div>
</main>

<ng-template #loading>
  <app-hexagon-loader [message]="'Lade Daten'"></app-hexagon-loader>
</ng-template>
