<main>
  <div *ngIf="$link | async let link; else loading">
    <div class="preview-wrapper">
      <span class="url-with-base"><!--
        --><span class="baseUrl">{{baseUrl}}</span><!--
        -->{{link.short}}
      </span>
      <span class="original">{{link.original}}</span>
      <button mat-raised-button
              (click)="openLinkInNewTab(link.original)">
        Öffnen
      </button>
      <span class="date">{{link.iat | date: "dd.MM.yyy HH:MM:ss"}}</span>
    </div>
  </div>
</main>

<ng-template #loading>
  <app-hexagon-loader [message]="'Lade Daten'"></app-hexagon-loader>
</ng-template>
