@import "src/app/styles/variables";
@import "src/app/styles/link";

.preview-wrapper {
  background-color: $median-background;
  padding: 16px 32px;
  border-radius: 8px;
  width: fit-content;
  max-width: calc(700px - 2 * 16px);
  margin: 0 auto;
  position: relative;
  line-break: anywhere;

  p {
    text-align: center;
    color: white;
    margin-bottom: 25px;
  }

  app-report-block {
    display: block;
    margin-bottom: 25px;
  }

  & > span {
    text-align: center;
    display: block;

    &.original {
      font-style: italic;
      margin: 10px 0 25px;
    }

    &.date {
      align-self: center;
      color: gray;
      font-size: 0.75em;
      font-style: italic;
      text-align: right;
      position: relative;
      bottom: 0;
    }
  }

  .actions {
    text-align: center;

    button {
        margin: 0 15px 25px;
        display: inline-block;
      }
  }
}

@media all and (max-width: 1024px) {
  .preview-wrapper {
    width: calc(90% - 2 * 16px);
    max-width: calc(500px - 2 * 16px);
  }
}
