<div class="header-statistic-wrapper">
  <div class="header-statistic">
    <app-chart-filter (update)="filterUpdated($event)"></app-chart-filter>

    <app-basic-call-chart [short]="'all'" [chartFilter]="chartFilter"></app-basic-call-chart>
  </div>
</div>

<main>
  <div class="link-creation">
    <h3>Kürze einen Link auf nur 7 Zeichen!</h3>
    <form [formGroup]="event">
      <mat-form-field>
        <label for="link">
          <input formControlName="link"
                 id="link"
                 placeholder="Link zum Kürzen"
                 matInput>
        </label>
        <mat-error>{{getLinkErrorMessage()}}</mat-error>
      </mat-form-field>
      <button
        (click)="saveFnc()"
        color="primary"
        mat-raised-button>
        <mat-icon>settings</mat-icon>
        Los!
      </button>
    </form>
    <p>Dein Link ist nach der Generierung sofot gültig. Du kannst ihn direkt teilen.</p>
  </div>
  <div class="link-management" *ngIf="userIsLoggedIn">
    <h3>Deine Links</h3>
    <button [routerLink]="'/link/overview'" mat-raised-button>
      <mat-icon>launch</mat-icon>
      Zu meinen Links
    </button>
    <button [routerLink]="'/account/logout'" mat-button>
      <mat-icon>logout</mat-icon>
      Abmelden
    </button>
    <!--    <p></p>-->
  </div>
  <div class="link-management login" *ngIf="!userIsLoggedIn">
    <h3>Deine Links</h3>
    <button [routerLink]="'/account/login'" mat-raised-button>
      <mat-icon>login</mat-icon>
      Login
    </button>
    <p>Logge dich ein um deine Links zu sehen. Ebenso werden deine generierten Links dir zugeordnet, damit du deine
      Analysen anschauen kannst.</p>
  </div>
</main>

<div class="contribution">
  Created by <a href="https://sebamomann.de">Seba Momann</a>
</div>

