@import "src/app/styles/header-chart";
@import "src/app/styles/variables";
@import "src/app/styles/link";

.main-statistic {
  .header-information-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: baseline;

    .highlighter {
      border-bottom: 1px solid white;
      width: 90%;
      align-self: center;

      &:nth-child(1) {
        justify-self: start;
      }

      &:nth-child(3) {
        justify-self: end;
      }
    }

    .header-information {
      width: fit-content;
      margin: 0 auto;
      padding: 4px 25px 4px;
      border-radius: 10px;
      background-color: $median-background;
      position: relative;
      max-width: 500px;
      line-break: anywhere;

      & > div {
        text-align: center;

        mat-expansion-panel {
          background-color: transparent;
          box-shadow: none;

          mat-expansion-panel-header {
            padding: 5px;

            ::ng-deep .mat-expansion-indicator {
              &:after {
                color: white;
              }
            }

            &:hover {
              background-color: transparent;
            }

            mat-panel-title {
              display: grid;
              grid-template-columns: auto 1fr;

              .copy-to-clipboard {
                @include md-icon-size(1.75em);
                align-self: center;
                opacity: 0.25;
                color: white;
                padding: 7px 5px 0 0;
              }
            }
          }

          .content {
            margin-top: 10px;
            color: lightgray;
            font-style: italic;
          }
        }
      }
    }
  }

  .version-history {
    margin: 100px auto;

    .version-wrapper {
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-column-gap: 25px;

      .date-information {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        & > div {
          &.line-before,
          &.line-after {
            border-left: 1px solid white;
            width: 1px;
            margin: 0 auto;
          }

          &.main-information {
            align-self: center;
            text-align: center;
            color: rgb(41, 118, 196);
            font-size: 1.5em;
            padding: 15px 0;
          }
        }

        &.solo {
          grid-template-rows: 2fr 1fr;

          & > .main-information {
            font-weight: bold;
            font-size: 1.75em;
          }
        }
      }

      .version-information {
        padding: 0 0 0 25px;
        position: relative;
        color: white;
        line-break: anywhere;
        display: grid;
        grid-template-rows:  0.5fr auto 0.5fr 0;

        &:after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          border-bottom: 1px solid #313131;
        }

        span {
          mat-icon {
            cursor: pointer;
            margin-right: 8px;
            font-weight: lighter;
            opacity: 0.25;
            vertical-align: middle;
            @include md-icon-size(21px);
          }

          &:first-child {
            align-self: center;

            & > mat-icon, span {
              vertical-align: middle;
            }
          }

          &.date {
            align-self: center;
            color: gray;
            font-size: 0.75em;
            font-style: italic;
            text-align: right;
            position: relative;
            bottom: 0;
          }
        }

        &.new-version {
          display: grid;
          grid-template-rows: 2fr 1fr;

          & > div {
            grid-row-start: span 1;
            position: relative;

            & > .add-version-button {
              color: #2976C4;
              cursor: pointer;
              padding: 0 16px;
              top: 50%;
              position: absolute;
              transform: translateY(-50%);
              font-size: 1.25em;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  .main-statistic {
    .header-information-wrapper {
      width: 100%;
      margin: 25px auto 0;

      .highlighter {
        &:nth-child(1) {
        }

        &:nth-child(3) {
        }
      }

      .header-information {
        $padding: 10px;
        padding: 4px $padding 4px;
        max-width: calc(325px - #{$padding} * 2);

        & > div {
          mat-expansion-panel {
            mat-expansion-panel-header {
              ::ng-deep .mat-expansion-indicator {
                &:after {
                }
              }

              &:hover {
              }

              mat-panel-title {
                display: grid;
                grid-template-columns: auto 1fr;

                .copy-to-clipboard {
                  @include md-icon-size(1.5em);
                  padding: 0 10px 0 0;
                }
              }
            }

            .content {
              margin-top: 10px;
              color: lightgray;
              font-style: italic;
            }
          }
        }
      }
    }

    .version-history {
      margin: 50px auto;

      .version-wrapper {
        width: 100%;
        margin: 0 auto;
        grid-column-gap: 16px;

        .date-information {
          grid-template-rows: 1fr 3fr 1fr;

          & > div {
            &.line-before,
            &.line-after {
            }

            &.main-information {
              text-align: center;
              font-size: 1.125em;
              padding: 16px 0;
            }
          }

          &.solo {
            & > .main-information {
              font-weight: bold;
              font-size: 1.5em;
            }
          }
        }

        .version-information {
          padding: 0 0 0 16px;

          &:after {
          }

          span {
            font-size: 0.9em;

            mat-icon {
            }

            &:first-child {
              padding-bottom: 4px;

              & > mat-icon, span {
              }
            }

            &.date {
            }
          }

          &.new-version {
            & > div {
              & > .add-version-button {
                mat-icon {
                }

                span {
                }
              }
            }
          }
        }
      }
    }
  }
}
