@import "src/app/styles/form";
@import "src/app/styles/mat-card";

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;;
}

::ng-deep .mat-form-field .mat-form-field-label {
  color: initial;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: initial;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
  background-color: initial;
}

::ng-deep .mat-form-field-underline {
  background-color: initial;
}
