<mat-card class="form float">
  <mat-card-title class="headline" id="title">
    Login
  </mat-card-title>

  <mat-horizontal-stepper #stepper linear>
    <mat-step>
      <form (ngSubmit)="validateUsername()" [formGroup]="eventUsername">
        <mat-card-content>
          <mat-form-field class="username">
            <input formControlName="username"
                   #nameInput
                   id="username"
                   autofocus
                   matInput
                   placeholder="Email/Benutzername"
                   required>
            <mat-error>{{ getUsernameErrorMessage() }}</mat-error>
          </mat-form-field>
        </mat-card-content>

        <div *ngIf="returnUrl !== '/'" class="info after-input">
          Du wirst nach dem Login dahin weitergeleitet wo du herkommst
        </div>

        <mat-card-actions class="double">
          <div>
            <button [routerLink]="['/account/register']"
                    class="left"
                    color="primary"
                    type="button"
                    mat-button>
              Neues Konto
            </button>
          </div>
          <button (click)="getUsername().updateValueAndValidity();"
                  color="primary"
                  id="next"
                  mat-raised-button
                  type="submit">
            Weiter
          </button>
        </mat-card-actions>
      </form>
    </mat-step>
    <mat-step>
      <form (ngSubmit)="login()" [formGroup]="eventPassword">
        <mat-card-content>
          <mat-form-field class="pass">
            <input [type]="hidePassword ? 'password' : 'text'"
                   formControlName="password"
                   #passwordInput
                   id="password"
                   matInput
                   placeholder="Passwort"
                   required>
            <button (click)="hidePassword = !hidePassword"
                    aria-label="toggle password visibility"
                    mat-icon-button
                    matSuffix
                    tabindex="-1"
                    type="button">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error id="login-error">{{ getPasswordErrorMessage() }}</mat-error>
          </mat-form-field>
          <div class="additional-information">
            <a [queryParams]="{mail: getUsername().value}"
               [routerLink]="['/account/passwordreset']"
               queryParamsHandling="merge">
              Passwort vergessen?
            </a>
          </div>
        </mat-card-content>

        <div class="info">
          Bestätige deine Identität!
        </div>

        <mat-card-actions class="double">
          <div>
            <button class="left"
                    color="primary"
                    mat-button
                    matStepperPrevious
                    type="button">
              Zurück
            </button>
          </div>
          <button [active]="sendingRequestEmit"
                  [innerValue]="'Login'"
                  appLoadingDisable
                  color="primary"
                  id="submit"
                  mat-raised-button
                  type="submit">
            Login
          </button>
        </mat-card-actions>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>

