<form *ngIf="!done; else doneTemplate"
      [formGroup]="event"
      class="register-form">
  <mat-card-content>
    <mat-form-field class="username">
      <label for="username">
        <input [required]="isRegister"
               formControlName="username"
               autocomplete="off"
               id="username"
               matInput
               placeholder="Benutzername">
      </label>
      <button mat-icon-button matSuffix type="button">
        <!--suppress TypeScriptUnresolvedFunction -->
        <mat-icon #username="matTooltip"
                  (click)="username.toggle()"
                  class="tooltip"
                  matTooltip="{{tooltip}}">
          info
        </mat-icon>
      </button>
      <mat-error id="username-error">{{ getErrorMessage('username') }}</mat-error>
    </mat-form-field>

    <div *ngIf="event.get('username').hasError('invalidUsername') && event.get('username').value"
         id="username-error-addition"
         class="info after-input">
      <ul>
        <li> Nur Kleinbuchstaben</li>
        <li> Mindestens 3 Buchstaben.</li>
        <li> Kein _ am Anfang oder Ende</li>
        <li> Nur ein _ in Folge</li>
        <li> Keine Sonderzeichen</li>
      </ul>
    </div>

    <span *ngIf="!isRegister"
          class="separator extra-extra-tall hidden"></span>

    <mat-form-field class="mail">
      <label for="mail">
        <input [required]="isRegister"
               formControlName="mail"
               id="mail"
               placeholder="E-Mail"
               matInput>
      </label>
      <mat-error id="mail-error">{{ getErrorMessage('mail') }}</mat-error>
    </mat-form-field>

    <span *ngIf="!isRegister"
          class="separator extra-extra-tall hidden"></span>

    <mat-form-field class="pass" formGroupName="passwords">
      <label for="password">
        <input [type]="hide ? 'password' : 'text'"
               formControlName="password"
               id="password"
               matInput
               [required]="isRegister"
               placeholder="{{isRegister ? '' : 'Neues '}}Passwort">
      </label>
      <button (click)="hide = !hide"
              aria-label="toggle password visibility"
              mat-icon-button
              matSuffix
              type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error id="password-error">{{ getErrorMessage('') }}</mat-error>
    </mat-form-field>
    <mat-form-field class="pass" formGroupName="passwords">
      <label for="passwordVerify">
        <input [type]="hide ? 'password' : 'text'"
               formControlName="passwordVerify"
               id="passwordVerify"
               matInput
               placeholder="Passwort wiederholen"
               [required]="isRegister">
      </label>
      <button (click)="hide = !hide"
              aria-label="toggle password visibility"
              mat-icon-button
              matSuffix
              type="button">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error id="passwordVerify-error">{{ getErrorMessage('') }} </mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="double">
    <div>
      <button *ngIf="isRegister"
              [routerLink]="['/account/login']"
              type="button"
              class="left"
              color="primary"
              mat-button>
        Einloggen
      </button>
    </div>

    <button (click)="saveFnc()"
            [active]="sendingRequestEmit"
            [innerValue]="buttonText"
            color="primary"
            id="submit"
            type="submit"
            appLoadingDisable
            mat-raised-button>
      {{buttonText}}
    </button>
  </mat-card-actions>
</form>

<ng-template #doneTemplate>
  <div id="registration-done">
    <span>
      Dein Account wurde erfolgreich angelegt. Bitte Folge den Anweisungen in der dir eben zugesandten E-Mail, um
      die Registrierung abzuschließen.
    </span>
  </div>
</ng-template>
