@import "src/styles";

.account-menu-wrapper {
  text-align: right;
  margin: 0 0 0 auto;

  button {
    mat-icon {
      @include md-icon-size(30px);
      outline: none;
      margin: 0 0 0 10px;

      &:first-child {
        margin: 0 0 0 0;
      }
    }

    &:nth-of-type(2) {
      text-align: right;
    }
  }
}
