<div class="account-menu-wrapper">
  <ng-container *ngIf="userIsLoggedIn">
    <div class="account-username-button">
      <div [matMenuTriggerFor]="menu"
           #menuTrigger="matMenuTrigger"
           class="stroked-button-colored">
        <span>{{username}}</span>
      </div>
      <mat-icon>account_circle</mat-icon>
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
      <ng-container [ngTemplateOutlet]="loggedInMenu">
      </ng-container>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="!userIsLoggedIn">
    <div>
      <button (click)="login()"
              class="stroked-button-colored"
              mat-stroked-button>
        <span>Login</span>
        <mat-icon>login</mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<ng-template #loggedInMenu>
  <button mat-menu-item
          (click)="openAccountSettings()">
    <mat-icon>person</mat-icon>
    Profil
  </button>
  <button mat-menu-item
          [routerLink]="['/link']">
    <mat-icon>link</mat-icon>
    Meine Links
  </button>
  <button mat-menu-item
          (click)="logout()">
    <mat-icon>logout</mat-icon>
    Abmelden
  </button>
</ng-template>
