@import "src/styles";

.account-menu-wrapper {
  text-align: right;
  margin: 0 0 0 auto;

  .account-username-button {
    width: fit-content;
    display: unset;

    div {
      border: 1px solid $blue;
      border-right: none;
      padding: 3px calc(23px + 6px) 3px 12px;
      border-radius: 5px 0px 0px 5px;
      line-height: normal;
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      font-size: 1em;
    }

    mat-icon {
      @include md-icon-size(44px);
      outline: none;
      margin: 0 0 0 -23px;
      display: inline-block;
      vertical-align: middle;

      &:first-child {
        margin: 0 0 0 0;
      }

      &.spin {
        animation: spin 2s infinite linear;
      }
    }
  }


  button {
    line-height: 32px;
    font-weight: normal;
    vertical-align: middle;

    mat-icon {
      @include md-icon-size(28px);
      outline: none;
      margin: 0 0 0 10px;

      &:first-child {
        margin: 0 0 0 0;
      }
    }

    &:nth-of-type(2) {
      text-align: right;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
