@import "src/app/styles/variables";

mat-toolbar {
  background-image: linear-gradient($dark-background 0%, $dark-background calc(100% - 15px), $background 100%);
  color: $blue;
  margin-bottom: 75px;
  z-index: 2;
  position: relative;
  padding: 7px 0 15px;
  height: auto;

  .toolbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1275px;
    margin: 0 auto;
    align-items: center;
    width: 95%;


    .logo-wrapper {
      outline: none;

      img {
        vertical-align: middle;
        height: 34px;
        width: 34px;
        outline: none;
        display: inline-block;
      }

      .logo-name {
        margin-left: 10px;
        display: inline-block;
        font-size: 1.25em;
        vertical-align: middle;

        span {
          span {
            color: $light-background;
          }
        }
      }
    }

    .title {
      font-size: 1.75em;
      text-align: center;
      font-weight: bolder;
    }

    div {
      mat-icon {
        @include md-icon-size(35px);
        outline: none;
        vertical-align: top;
        margin: 0 0 0 10px;

        &:first-child {
          margin: 0 0 0 0;
        }
      }

      &:nth-of-type(2) {
        text-align: right;

        button {
          margin-left: 10px;

          &.mat-stroked-button {
            border-color: $blue;
          }

          mat-icon {
            vertical-align: middle;
            @include md-icon-size(25px);
          }
        }
      }

      &.account-menu-wrapper {
        span {
          margin-right: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  mat-toolbar {
    margin-bottom: 15px;

    .toolbar-wrapper {
      width: 95%;
      grid-template-columns: 1fr  1fr;

      .title {
        display: none;
      }
    }
  }
}


footer {
  position: relative;
  margin: 10px auto;
  z-index: 1;

  a {
    color: white;
  }

  text-align: center;
}
