@import "src/app/styles/variables";

mat-toolbar {
  background-image: linear-gradient($dark-background 0%, $dark-background 75%, $background 100%);
  color: $blue;
  margin-bottom: 50px;
  z-index: 2;
  position: relative;

  .toolbar-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    max-width: 1275px;
    margin: 0 auto;
    width: 100%;
    align-items: center;

    .title {
      font-size: 1.5em;
      text-align: center;
      font-weight: bolder;
    }

    div {
      mat-icon {
        @include md-icon-size(35px);
        margin: 0 10px 0 0;
        outline: none;
        vertical-align: top;
      }

      &:nth-of-type(2) {
        text-align: right;

        button {
          margin-left: 10px;

          &.mat-stroked-button {
            border-color: $blue;
          }
        }
      }

      &.account-menu-wrapper {
        span {
          margin-right: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  mat-toolbar {
    margin-bottom: 25px;

    .toolbar-wrapper {
      grid-template-columns: 1fr  1fr;

      .title {
        display: none;
      }
    }
  }
}


footer {
  a {
    color: white;
  }

  text-align: center;
}
