<div class="wrapper">
  <mat-toolbar>
    <div class="toolbar-wrapper">
      <div class="logo-wrapper">
        <img src="assets/icons/icon-192x192.inverted.png" alt="" [routerLink]="['/']">
      </div>
      <h2 class="title">
        {{title}}
      </h2>
      <div *ngIf="userIsLoggedIn" class="account-menu-wrapper">
        <button [matMenuTriggerFor]="menu" mat-stroked-button>{{username}}
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <ng-container [ngTemplateOutlet]="loggedInMenu">
          </ng-container>
        </mat-menu>
      </div>
      <div *ngIf="!userIsLoggedIn">
        <button mat-stroked-button
                [routerLink]="['/account/register']">Registrieren
        </button>
        <button mat-raised-button
                color="primary"
                [routerLink]="['/account/login']">Anmelden
        </button>
      </div>
    </div>

  </mat-toolbar>

  <div class="main-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer><a href="/impressum">Impressum</a></footer>
</div>

<ng-template #loggedInMenu>
  <button mat-menu-item
          [routerLink]="['/link']">
    <mat-icon>link</mat-icon>
    Meine Links
  </button>
  <button mat-menu-item
          [routerLink]="['/account/logout']">
    <mat-icon>logout</mat-icon>
    Abmelden
  </button>
</ng-template>

