<div class="wrapper">
  <mat-toolbar>
    <div class="toolbar-wrapper">
      <div class="logo-wrapper" [routerLink]="['/']">
        <img src="assets/icons/icon_stripped.png" alt="dein.li logo">
        <div class="logo-name">
          <span>dein.li<span>nk</span></span>
        </div>
      </div>
      <h2 class="title">
        {{title}}
      </h2>
      <app-account-toolbar #account id="account"></app-account-toolbar>
    </div>
  </mat-toolbar>

  <div class="main-wrapper">
    <router-outlet></router-outlet>
  </div>

  <footer><a routerLink="/impressum">Impressum</a></footer>
</div>
