<mat-card class="form float">
  <mat-card-title class="headline" id="title">
    Registrieren
  </mat-card-title>

  <mat-card-content>
    <ng-container *ngIf="this.mail != null && this.token != null && !done; else initial">
      <ng-container *ngIf="this.error === null; else err">
        <ng-container *ngIf="this.verified">
        <span>
          Top! Ich konnte deinen Account verifizieren. Du kannst dich nun einloggen.
        </span>
          <mat-card-actions>
            <button [queryParams]="{ mail: mail }"
                    [routerLink]="['/account/login']"
                    mat-raised-button>
              Login
            </button>
          </mat-card-actions>
        </ng-container>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>

<ng-template #initial>
  <app-user-data
    (save)="createAccount($event)"
    [done]="done">
  </app-user-data>
</ng-template>

<ng-template #err>
  <span>{{error}}</span>
</ng-template>




