<h2 mat-dialog-title>Erfolgreich!</h2>
<mat-dialog-content class="mat-typography">
  <p>Dein Link wurde erfolgreich erstellt</p>
  <div class="copy-form">
    <mat-form-field>
      <label for="link">
        <input id="link"
               value="{{completeUrl}}"
               matInput
               disabled>
      </label>
    </mat-form-field>
    <button
      (click)="copyLinkToClipboard();close()"
      color="primary"
      mat-raised-button>
      <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <div class="open-analytics" *ngIf="userIsLoggedIn">
    <button mat-raised-button
            (click)="close()"
            [routerLink]="['/link']" [queryParams]="{l: link.short}">
      <mat-icon>analytics</mat-icon>
      Zur Analyseübersicht
    </button>
  </div>
  <p>Weiterleitung zu: <a href="{{link.original}}">{{link.original}}</a></p>
</mat-dialog-content>
