/* You can add global styles to this file, and also import other style files */

@import "src/app/styles/variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #232222;
  height: 100%;
}

.wrapper {
  position: relative;
  height: auto;
  min-height: calc(100vh - 10px);
  padding-bottom: 10px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, $background, $background, $background-opacity), url('assets/img/background/hexagons.jpg');
  }
}

.main-wrapper {
  position: relative;
  z-index: 2;
  padding-bottom: 1px;
  height: 100%;
  width: 95%;
  margin: 0 auto 100px auto;

  main {
    margin: 0 auto;
    max-width: 1275px;
    // background-image: linear-gradient(to right, transparent 0%, #2c2ca8 5%, transparent 10%, transparent 90%, #2c2ca8 95%, transparent 100%);
  }

  .title {
    margin: 0 auto 50px;
    padding-top: 25px;
    font-size: 1.75em;
    width: fit-content;
    display: block;
    position: relative;
    color: #2976c4;
  }

  .date {
    color: gray;
    font-size: 0.75em;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

.info {
  text-align: left;
  margin: 24px 0 0;
  font-size: 14px;
  width: 75%;
  max-width: 350px;

  &.after-input {
    margin: calc(26px - 1.25em) 0 0;
  }
}

.contribution {
  font-size: 1.5em;
  margin: 100px auto;
  color: $light-background;
  width: fit-content;

  a {
    color: $blue;
  }
}

.stroked-button-colored {
  &.mat-stroked-button {
    border-color: $blue;
  }

  mat-icon {
    vertical-align: middle;
    @include md-icon-size(1em);

    &:first-child {
      margin-right: 16px;
    }

    &:last-child {
      margin-right: 16px;
    }
  }

  .value {
    font-size: 0.9em;
    vertical-align: middle;
  }
}

@media all and (max-width: 1024px) {
  #main-wrapper {
    width: 100%;
  }

  .contribution {
    font-size: 1.125em;
    margin: 50px auto;
  }
}
