/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #232222;
}

.main-wrapper {
  padding-bottom: 1px;

  main {
    margin: 0 auto;
    max-width: 1000px;
    // background-image: linear-gradient(to right, transparent 0%, #2c2ca8 5%, transparent 10%, transparent 90%, #2c2ca8 95%, transparent 100%);
  }

  .title {
    margin: 0 auto 50px;
    padding-top: 25px;
    font-size: 1.75em;
    width: fit-content;
    display: block;
    position: relative;
    color: #2976c4;
  }
}
